.home {
  width:100%;
  padding:30px;
  img {
    width:600px;
    max-width:70vw;
    max-height:70vw;
    margin-bottom:20px;
  }
}
.actions {
  button {
    min-width:220px;
    padding:20px;
    margin-bottom:30px;
    margin-right:20px;
  }
}
