<div class="filters">
  <div class="filter-actions">
    @if (showGeoButton()) {
      <button mat-stroked-button type="button" (click)="mapToggle.emit()">
        <mat-icon style="min-width:20px" [class.map-active]="showMap()">language</mat-icon>
        Geo
      </button>
    }
    <button mat-stroked-button type="button" [matMenuTriggerFor]="tagGroupMenu" [disabled]="tagGroupDropdownOptions().length === 0">
      <mat-icon style="min-width:20px">filter_list</mat-icon>
      Tag
    </button>
    <button mat-stroked-button type="button" [matMenuTriggerFor]="filterMenu" [disabled]="availablePills().length === 0 && selectCustomFieldDropdownOptions().length === 0">
      <mat-icon style="min-width:20px">filter_list</mat-icon>
      {{ 'Filter' | translate }}
    </button>
    <ng-content select="[filter-extra-actions]"></ng-content>
  </div>
  <mat-menu #tagGroupMenu="matMenu">
    @for (group of tagGroupDropdownOptions(); track group.id) {
      <button mat-menu-item (click)="addTagGroupFilter(group)">
        <span>{{ group.displayName }}</span>
      </button>
    }
  </mat-menu>
  <mat-menu #filterMenu="matMenu">
    @for (pill of availablePills(); track pill.id) {
      <button mat-menu-item (click)="addFilterPill(pill.id)">
        <span>{{ pill.label | translate }}</span>
      </button>
    }
    @for (field of selectCustomFieldDropdownOptions(); track field.fieldName) {
      <button mat-menu-item (click)="addCustomFieldFilter(field)">
        <span>{{ field.label }}</span>
      </button>
    }
  </mat-menu>
  <!-- Context menu template (rendered via CDK Overlay) -->
  <ng-template #filterContextMenuTpl>
    <div class="filter-context-menu" (click)="$event.stopPropagation()">
      <button mat-menu-item (click)="onContextFilter(contextMenuData); closeContextMenu()" [disabled]="contextMenuData?.pillCount === 0 && !contextMenuData.isTag">
        <mat-icon>filter_list</mat-icon>
        <span>{{ 'Filter' | translate }}</span>
      </button>
      @if (contextMenuData?.isMultiSelect || contextMenuData?.isTag) {
        <button mat-menu-item (click)="onContextBatchAdd(contextMenuData); closeContextMenu()">
          <mat-icon>add_circle_outline</mat-icon>
          <span>{{ 'Batch-Add' | translate }}</span>
        </button>
        <button mat-menu-item (click)="onContextBatchRemove(contextMenuData); closeContextMenu()">
          <mat-icon>remove_circle_outline</mat-icon>
          <span>{{ 'Batch-Remove' | translate }}</span>
        </button>
      } @else {
        <button mat-menu-item (click)="onContextBatchApply(contextMenuData); closeContextMenu()">
          <mat-icon>edit_note</mat-icon>
          <span>{{ 'Batch-Set' | translate }}</span>
        </button>
      }
    </div>
  </ng-template>
  <div class="toggle-groups">
    <div class="toggle-group">
      <span class="toggle-label">{{ 'Status' | translate }}</span>
      <mat-button-toggle-group
        (change)="onStatusChange($event)"
        [value]="statusFilter()"
      >
        @for (opt of statusOptionsWithCounts(); track opt.value) {
          <mat-button-toggle [value]="opt.value">{{ opt.label | translate }}<span class="facet-count-label"> ({{ opt.count }})</span></mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>
    @if (isPillVisible('techSuit')) {
      <div class="toggle-group">
        <span class="toggle-label">{{ 'Technical Suitability' | translate }}
          <button mat-icon-button class="tag-group-remove" (click)="removeFilterPill('techSuit')" type="button">
            <mat-icon>close</mat-icon>
          </button>
        </span>
        <mat-button-toggle-group
          (change)="onTechnicalSuitabilityChange($event)"
          (click)="onTechnicalSuitabilityClick()"
          [value]="technicalSuitabilityFilter()"
        >
          @for (opt of technicalSuitabilityOptionsWithCounts(); track opt.value) {
            <mat-button-toggle [value]="opt.value" [class.pill-zero-count]="opt.count === 0 && opt.value !== technicalSuitabilityFilter()" (contextmenu)="openContextMenu($event, 'technicalSuitability', opt.value, opt.label, false, undefined, false, false, undefined, opt.count)">{{ opt.label | translate }}<span class="facet-count-label"> ({{ opt.count }})</span></mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
    }
    @if (isPillVisible('bizSuit')) {
      <div class="toggle-group">
        <span class="toggle-label">{{ 'Functional Suitability' | translate }}
          <button mat-icon-button class="tag-group-remove" (click)="removeFilterPill('bizSuit')" type="button">
            <mat-icon>close</mat-icon>
          </button>
        </span>
        <mat-button-toggle-group
          (change)="onFunctionalSuitabilityChange($event)"
          (click)="onFunctionalSuitabilityClick()"
          [value]="functionalSuitabilityFilter()"
        >
          @for (opt of functionalSuitabilityOptionsWithCounts(); track opt.value) {
            <mat-button-toggle [value]="opt.value" [class.pill-zero-count]="opt.count === 0 && opt.value !== functionalSuitabilityFilter()" (contextmenu)="openContextMenu($event, 'functionalSuitability', opt.value, opt.label, false, undefined, false, false, undefined, opt.count)">{{ opt.label | translate }}<span class="facet-count-label"> ({{ opt.count }})</span></mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
    }
    @if (isPillVisible('timeClass')) {
      <div class="toggle-group">
        <span class="toggle-label">{{ 'TIME' | translate }}
          <button mat-icon-button class="tag-group-remove" (click)="removeFilterPill('timeClass')" type="button">
            <mat-icon>close</mat-icon>
          </button>
        </span>
        <mat-button-toggle-group
          (change)="onTimeClassificationChange($event)"
          (click)="onTimeClassificationClick()"
          [value]="timeClassificationFilter()"
        >
          @for (opt of timeClassificationOptionsWithCounts(); track opt.value) {
            <mat-button-toggle [value]="opt.value" [class.pill-zero-count]="opt.count === 0 && opt.value !== timeClassificationFilter()" (contextmenu)="openContextMenu($event, 'lxTimeClassification', opt.value, opt.label, false, undefined, false, false, undefined, opt.count)">{{ opt.label | translate }}<span class="facet-count-label"> ({{ opt.count }})</span></mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
    }
    @if (isPillVisible('northStar')) {
      <div class="toggle-group">
        <span class="toggle-label">{{ 'North Star' | translate }}
          <button mat-icon-button class="tag-group-remove" (click)="removeFilterPill('northStar')" type="button">
            <mat-icon>close</mat-icon>
          </button>
        </span>
        <mat-button-toggle-group
          (change)="onNorthStarClassificationChange($event)"
          (click)="onNorthStarClassificationClick()"
          [value]="northStarClassificationFilter()"
        >
          @for (opt of northStarClassificationOptionsWithCounts(); track opt.value) {
            <mat-button-toggle [value]="opt.value" [class.pill-zero-count]="opt.count === 0 && opt.value !== northStarClassificationFilter()" (contextmenu)="openContextMenu($event, 'northStarClassification', opt.value, opt.label, false, undefined, false, false, undefined, opt.count)">{{ opt.label | translate }}<span class="facet-count-label"> ({{ opt.count }})</span></mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
    }
    @if (isPillVisible('bizCrit')) {
      <div class="toggle-group">
        <span class="toggle-label">{{ 'Business Criticality' | translate }}
          <button mat-icon-button class="tag-group-remove" (click)="removeFilterPill('bizCrit')" type="button">
            <mat-icon>close</mat-icon>
          </button>
        </span>
        <mat-button-toggle-group
          (change)="onBusinessCriticalityChange($event)"
          (click)="onBusinessCriticalityClick()"
          [value]="businessCriticalityFilter()"
        >
          @for (opt of businessCriticalityOptionsWithCounts(); track opt.value) {
            <mat-button-toggle [value]="opt.value" [class.pill-zero-count]="opt.count === 0 && opt.value !== businessCriticalityFilter()" (contextmenu)="openContextMenu($event, 'businessCriticality', opt.value, opt.label, false, undefined, false, false, undefined, opt.count)">{{ opt.label | translate }}<span class="facet-count-label"> ({{ opt.count }})</span></mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
    }
    @if (isPillVisible('migration')) {
      <div class="toggle-group">
        <span class="toggle-label">{{ 'Migration' | translate }}
          <button mat-icon-button class="tag-group-remove" (click)="removeFilterPill('migration')" type="button">
            <mat-icon>close</mat-icon>
          </button>
        </span>
        <mat-button-toggle-group
          (change)="onMigrationFilterChange($event)"
          (click)="onMigrationFilterClick()"
          [value]="migrationFilter()"
        >
          @for (opt of migrationFilterOptionsWithCounts(); track opt.value) {
            <mat-button-toggle [value]="opt.value">{{ opt.label | translate }}<span class="facet-count-label"> ({{ opt.count }})</span></mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
    }

    @for (filter of activeTagGroupFilters(); track filter.tagGroupId) {
      <div class="toggle-group">
        <span class="toggle-label">{{ filter.groupName }}
          <button mat-icon-button class="tag-group-remove" (click)="removeTagGroupFilter(filter.tagGroupId)" type="button">
            <mat-icon>close</mat-icon>
          </button>
        </span>
        <div class="tag-toggle-row">
          <mat-button-toggle-group
            (change)="onTagPillChange(filter.tagGroupId, $event.value)"
            (click)="onTagPillClick(filter.tagGroupId)"
            [value]="filter.selectedTagId"
          >
            @for (tag of filter.tags; track tag.id) {
              <mat-button-toggle [value]="tag.id" [style.color]="tag.color ?? undefined" (contextmenu)="openContextMenu($event, 'tag', tag.id, tag.displayName, false, undefined, false, true, tag.id)">
                {{ tag.displayName }}
              </mat-button-toggle>
            }
          </mat-button-toggle-group>
        </div>
      </div>
    }

    @for (filter of activeCustomFieldFiltersWithCounts(); track filter.fieldName) {
      <div class="toggle-group">
        <span class="toggle-label">{{ filter.label }}
          <button mat-icon-button class="tag-group-remove" (click)="removeCustomFieldFilter(filter.fieldName)" type="button">
            <mat-icon>close</mat-icon>
          </button>
        </span>
        <div class="tag-toggle-row">
          <mat-button-toggle-group
            (change)="onCustomFieldPillChange(filter.fieldName, $event.value)"
            (click)="onCustomFieldPillClick(filter.fieldName)"
            [value]="filter.selectedValue"
          >
            @for (option of filter.valuesWithCounts; track option.value) {
              <mat-button-toggle [value]="option.value" [class.pill-zero-count]="option.count === 0 && option.value !== filter.selectedValue" (contextmenu)="openContextMenu($event, filter.fieldName, option.value, filter.label, true, filter.fieldName, filter.type === 'selectMultiple', false, undefined, option.count)">
                {{ option.value }}<span class="facet-count-label"> ({{ option.count }})</span>
              </mat-button-toggle>
            }
          </mat-button-toggle-group>
        </div>
      </div>
    }
  </div>

  <div class="dropdown-filters">
    <mat-form-field appearance="outline" class="name-filter">
      <mat-label>{{ 'Filter by text' | translate }}</mat-label>
      <input
        matInput
        [ngModel]="nameFilterInput()"
        (ngModelChange)="onNameFilterInputChange($event)"
        [placeholder]="'Display name...' | translate"
      />
      @if (nameFilterInput()) {
        <button mat-icon-button matSuffix type="button" (click)="clearNameFilter()" [attr.aria-label]="'Clear filter' | translate">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    <div class="apps-count" [attr.aria-label]="'Displayed applications count' | translate">
      <span>{{ displayedAppsCount() }}</span>
      @if (hasStackedApps()) {
        <button type="button" class="before-stacking-count" title="Before stacking" (click)="onBeforeStackingClick($event)">
          ({{ fullAppsCountBeforeStacking() }})
        </button>
      }
    </div>
    <mat-form-field appearance="outline" class="facet-select">
      <mat-label>{{ 'Business Capability' | translate }}</mat-label>
        <mat-select
          [ngModel]="filterRelApplicationToBusinessCapability()"
          (ngModelChange)="onBusinessCapabilityChange($event)"
          panelClass="list-facet-select-panel"
          [placeholder]="'Select…' | translate"
        >
          <mat-select-trigger>{{ selectedBusinessCapabilityOption()?.label ?? '' }}</mat-select-trigger>
          <mat-option>
            <ngx-mat-select-search
              [formControl]="businessCapabilityFilterCtrl"
              placeholderLabel="Filter..."
              [noEntriesFoundLabel]="'No matching business capability' | translate"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option value="">{{ '— Any —' | translate }}</mat-option>
          @for (opt of businessCapabilityOptionsTree(); track opt.trackId ?? $index) {
            <mat-option [value]="opt.id">
              <span class="facet-tree-option" [style.padding-inline-start.px]="opt.depth * 16" [title]="opt.fullPath">
                @if (opt.depth > 0) {
                  <mat-icon class="facet-tree-indent-icon">subdirectory_arrow_right</mat-icon>
                }
                {{ opt.label }}
              </span>
              @if (opt.countLabel) {
                <span class="facet-count-label">{{ opt.countLabel }}</span>
              }
            </mat-option>
          }
        </mat-select>
        <button
          mat-icon-button
          matSuffix
          type="button"
          class="facet-mode-toggle"
          (click)="toggleBusinessCapabilityMode($event)"
          [attr.aria-label]="businessCapabilityMode() === 'subtree' ? 'Switch to exact match' : 'Switch to subtree match'"
          [title]="businessCapabilityMode() === 'subtree' ? 'Includes sub-categories (click for exact match)' : 'Exact match only (click to include sub-categories)'">
          <mat-icon>{{ businessCapabilityMode() === 'subtree' ? 'account_tree' : 'list' }}</mat-icon>
        </button>
        @if (filterRelApplicationToBusinessCapability()) {
          <button mat-icon-button matSuffix type="button" (click)="clearBusinessCapabilityFilter()" [attr.aria-label]="'Clear filter' | translate">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    <mat-form-field appearance="outline" class="facet-select">
      <mat-label>{{ 'User Group' | translate }}</mat-label>
        <mat-select
          [ngModel]="filterRelApplicationToUserGroup()"
          (ngModelChange)="onUserGroupChange($event)"
          panelClass="list-facet-select-panel"
          [placeholder]="'Select…' | translate"
        >
          <mat-select-trigger>{{ selectedUserGroupOption()?.label ?? '' }}</mat-select-trigger>
          <mat-option>
            <ngx-mat-select-search
              [formControl]="userGroupFilterCtrl"
              placeholderLabel="Filter..."
              [noEntriesFoundLabel]="'No matching user group' | translate"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option value="">{{ '— Any —' | translate }}</mat-option>
          @for (opt of userGroupOptionsTree(); track opt.trackId ?? $index) {
            <mat-option [value]="opt.id">
              <span class="facet-tree-option" [style.padding-inline-start.px]="opt.depth * 16" [title]="opt.fullPath">
                @if (opt.depth > 0) {
                  <mat-icon class="facet-tree-indent-icon">subdirectory_arrow_right</mat-icon>
                }
                {{ opt.label }}
              </span>
              @if (opt.countLabel) {
                <span class="facet-count-label">{{ opt.countLabel }}</span>
              }
            </mat-option>
          }
        </mat-select>
        <button
          mat-icon-button
          matSuffix
          type="button"
          class="facet-mode-toggle"
          (click)="toggleUserGroupMode($event)"
          [attr.aria-label]="userGroupMode() === 'subtree' ? 'Switch to exact match' : 'Switch to subtree match'"
          [title]="userGroupMode() === 'subtree' ? 'Includes sub-categories (click for exact match)' : 'Exact match only (click to include sub-categories)'">
          <mat-icon>{{ userGroupMode() === 'subtree' ? 'account_tree' : 'list' }}</mat-icon>
        </button>
        @if (filterRelApplicationToUserGroup()) {
          <button mat-icon-button matSuffix type="button" (click)="clearUserGroupFilter()" [attr.aria-label]="'Clear filter' | translate">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    <mat-form-field appearance="outline" class="facet-select">
      <mat-label>{{ 'Project' | translate }}</mat-label>
      <mat-select
        [ngModel]="filterRelApplicationToProject()"
        (ngModelChange)="onProjectChange($event)"
        [placeholder]="'Select…' | translate"
      >
        <mat-option>
          <ngx-mat-select-search
            [formControl]="projectFilterCtrl"
            placeholderLabel="Filter..."
            [noEntriesFoundLabel]="'No matching project' | translate"
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option value="">{{ '— Any —' | translate }}</mat-option>
        @for (item of projectFilteredOptions(); track item.id) {
          <mat-option [value]="item.id">
            <span>{{ item.label }}</span>
            @if (item.countLabel) {
              <span class="facet-count-label">{{ item.countLabel }}</span>
            }
          </mat-option>
        }
      </mat-select>
      @if (filterRelApplicationToProject()) {
        <button mat-icon-button matSuffix type="button" (click)="clearProjectFilter()" [attr.aria-label]="'Clear filter' | translate">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="facet-select">
      <mat-label>{{ 'Data Products' | translate }}</mat-label>
      <mat-select
        [ngModel]="filterRelApplicationToDataProduct()"
        (ngModelChange)="onDataProductChange($event)"
        [placeholder]="'Select…' | translate"
      >
        <mat-option>
          <ngx-mat-select-search
            [formControl]="dataProductFilterCtrl"
            placeholderLabel="Filter..."
            [noEntriesFoundLabel]="'No matching data product' | translate"
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option value="">{{ '— Any —' | translate }}</mat-option>
        @for (item of dataProductFilteredOptions(); track item.id) {
          <mat-option [value]="item.id">
            <span>{{ item.label }}</span>
            @if (item.countLabel) {
              <span class="facet-count-label">{{ item.countLabel }}</span>
            }
          </mat-option>
        }
      </mat-select>
      @if (filterRelApplicationToDataProduct()) {
        <button mat-icon-button matSuffix type="button" (click)="clearDataProductFilter()" [attr.aria-label]="'Clear filter' | translate">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>
</div>
